<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    
    <!--CRM-->
      <add name="Crm" connectionString="Url=http://crm_url/orgName; Domain=domainName; Username=userName; Password=pass;"/>
    <!--CRM-->
    
    <!--Database -->
    <add name ="SqlDb" connectionString="Server=DOTDEVCRMSQL01; Database=CRMStats_Imported; Integrated Security=SSPI; User Id=imanolov; Password=Mamaroneck23; Connection Timeout= 240; Max Pool Size=1500" />
    <!--Database -->
  </connectionStrings>
  <appSettings>
    <!-- Directory to log any errors -->
    <add key="ErrorLogDir" value="ErrorLogs\"/>
    
    <!-- Location of list of case id's directory -->
    <add key="DeletedCasesGuidsPath" value="DeletedCasesGuids/guidslist.csv"/>
    
    <!-- Location of where to store csv file of audit exports -->
    <add key="LogAuditHistoryPath" value="DeletedCasesGuids/AuditHistory/"/>
    
    <!-- Page size for retrieved entity records -->
    <add key="PageSize" value="5000"/>
    
    <!-- Fields that will be audit history exported -->
    <add key="StringFieldList" value="stringFieldName1, stringFieldName2, stringFieldName3, stringFieldName4, stringFieldName5"/>
    <add key="DateFieldList" value="dateFieldName1, dateFieldName2, dateFieldName3, dateFieldName4, dateFieldName5"/>
    <add key="DropdownFieldList" value="dropdownFieldName1, dropdownFieldName2, dropdownFieldName3, dropdownFieldName4, dropdownFieldName5"/>
    <add key="LookupFieldList" value="lookupFieldName1, lookupFieldName2, lookupFieldName3, lookupFieldName4, lookupFieldName5"/>
    <add key="RefFieldList" value="refFieldName1, refFieldName2, refFieldName3, refFieldName4, refFieldName5"/>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>